body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

small{
    font-size: 1.5vw;
    color: rgba(0, 0, 0, .4);
}

.display{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-content: center;
}

.display div{
    text-align: center;
}

.display p{
    font-size: 4vw;
    margin-bottom: 0px;
    margin-top: 1vw;
}

.curr-earned p{
    color: greenyellow;
}

.main-body{
    margin-top: 3vw;
    display: flex;
}

.main-body .calender{
    flex: 3;
    margin: 2vw;
    border-style: solid;
    border-radius: 1vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(6, 11vw);
    grid-template-rows: repeat(14, 5vw);
}

.main-body .study-timer{
    flex: 1;
    margin: 2vw;
    border-style: solid;
    border-radius: 1vw;
}

.main-body .calender div{
    border-style:groove;
    border-radius: 0.2vw;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-content: center;
    font-size: 2vw;
    padding: 1vw;
}

.main-body .calender .calender-slot{
    background-color: white;
    padding:0.1vw;
    font-size:1vw;
    
}

.main-body .calender .calender-slot .slot-layer1{
    border-style: none;
    background-color: white;
    font-size: 1vw;
    display:flex;
    justify-content: left;
    align-content: left;
    padding: 0;
    margin:0;
}

.course-title{
    flex:10;
    margin-bottom:0.1vw;
    margin-top:0.2vw;
}

.attended{
    background-color: white;
}

.clear-calender{
    flex:1;
    margin-bottom:0.1vw;
    margin-top:0.2vw;
    cursor:pointer;
    border:none;
    outline:none;
    background-color:white;
}

.course-label{
    margin:0;
    font-size: 0.7vw;
}

.main-body .calender .calender-slot .slot-layer2{
    border-style: none;
    background-color: white;
    font-size: 0.9vw;
    display:flex;
    justify-content: left;
    align-content: left;
    padding:0;
    margin:0;
    
}

.main-body .calender .calender-slot .wrapper-class{
    background-color: white;
    padding:0;
    font-size:1vw;
    border:none;
    
}

.course-type{
    flex:2;
    margin:0;
}

.attended{
    flex:1;
    margin:0;
    font-size:0.7vw;
    cursor:pointer;
    
}

.up-next{
    display: flex;
    margin:2vw;
    justify-content: center;
    align-content: center;
}

.up-next .reminder-display{
    flex:1;
    border-style:solid;
    border-radius: 1vw;
    margin:1vw;
    justify-content: top;
    align-content: top;
    display: grid;
    grid-template-columns: 100%;
}

.reminder-name{
    font-size: 2.5vw;
    margin:0;
    margin-bottom:1vw;
}

.reminder{
    border-style: solid;
    border-radius: 1vw;;
    margin:1vw;
    margin-top:0;
}

.reminder-top-display{
    display: flex;
}

.reminder-type{
    padding-left:0.3vw;
    font-size:1.5vw;
    flex:3;
}

.time-remaining{
    margin-top:0.2vw;
    flex:2;
}

.reminder-cancel{
    flex:1;
    border:none;
    background: none;
    cursor: pointer;
}

.reminder-weight{
    text-align: left;
    padding-left:1vw;
}

.reminder-bottom-display{
    margin-left:1vw;
    margin-right:1vw;
    display:flex;
}

.reminder-course-label{
    flex:1;
}

.reminder-done{
    flex:1;
    margin-bottom:0.5vw;
    cursor: pointer;
}